$small: 600px;
$medium: 1024px;
$grid-columns: 12;

$content-height: 160px;
$chat-constant-width:400px;
$scroll-thumbnail_container-height:300px;

$image-width: 0;
$image-height: 0;

// COLORS
$dark-blue: #2E2B2B;
$medium-blue: #388186;
$light-blue: #A5E9E1;
$cream: #FDF6F6;
$grey: #586E72;

* {
  font-family: "Lucida Sans", sans-serif;
  font-size:12px;
  padding:1px;
  margin:0;
  box-sizing: border-box;

}

body {
  zoom: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}


p {
  line-height:18px;
  width: 100%;
}

[class*="column-"] {
  // floating to the left:
  float: left;
}


// RESPONSIVE
@media (max-width: $small) {
  @for $i from 1 through 12 {
    .column-small-#{$i} {
      width: 100% / 12 * $i;
      border:1px solid #af2da6;
      max-width: 100% / 12 * $i;
    }
    #sidebar{
      max-height: 30vh;
    }
    #main-workspace{
      max-height: 70vh;
    }
  }
}
@media (min-width: $small) and (max-width: $medium) {
  @for $i from 1 through 12 {
    .column-medium-#{$i} {
      width: 100% / 12 * $i;
      border:1px solid #af2da6;
    }
    //.chat {
    //  width: $chat-constant-width;
    //
    //}
  }
}
@media (min-width: $medium) {
  @for $i from 1 through 12 {
    .column-big-#{$i} {
      width: 100% / 12 * $i;
      border: 1px solid #af2da6;
    }
    //.chat {
    //  width: $chat-constant-width;
    //}
  }
}

/*
Main Login Panel
 */

#loginPanel {
  text-align: center;
  margin: auto;
  border: 3px solid green;
  padding: 10px;

  .chat-status {
    font-size: larger;
  }

  .chat-input {
    font-size: larger;
  }
}

/*
Main boxes settings
 */

#application {
  display: none;
  #main-workspace{
    overflow: hidden;
    margin:0;
    height:100vh;
    display: inline-block;

    /*
  Image displaying settings
   */

    .box {
      margin: 27px;
      position: relative;
      height:70%;
      width: 90%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      #container{
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        border: solid 2px #A5E9E1;

      }
    }

  }

  #sidebar{
    height:100vh;
    display: inline-block;

    /**
   * Chat display setting
   */
    .sidebar-div{
      width: 100%;
      border-top: 1px solid #af2da6;
    }

    .chat {
      width:100%;


      #chat-window {
        background: #ddd;
        border: 1px solid #CCC;
        border-radius: 5px;
        overflow-y: scroll;
        padding: 5px;
        margin-top: 10px;
        height: $content-height;

        .chat-status {
          width: 25%;
          display: block;
          margin-top: 15px;
        }

        .chat-input {
          border: 1px solid #ccc;
          border-radius: 2px;
          margin-top: 10px;
          padding: 5px;
        }
      }
    }

    #python_container {
      //text-align: center;
    }

    div.scroll {
      width: 100%;
      height: $scroll-thumbnail_container-height;
      overflow: scroll;
      overflow-x: hidden;

      .thumbnail {
        max-height:100%;
        max-width:100%;
        padding: 10px;
        margin: 5px;
        position: relative;

        img {
          max-width: 100%;
        }
      }
    }
  }
}



.cursor {
  cursor: pointer;
}

img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.remove_thumbnail_button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  cursor: pointer;
  padding: 2px;
}

.remove_thumbnail_button:hover {
  background-color: #3e8e41;
  padding: 3px;
}

img.zoom{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height:100%;
    max-width:100%;
    //z-index: -1;

  opacity: 0.0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }

.button {
  min-width: 47%;
  max-width: 47%;
  max-height: 30px;
  background-color: white;
  color: black;
  border: 2px solid #af2da6;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #af2da6;
  color: white;
}

#button_div {
  width:100%;
}

input[type="file"]{
  display: none;
}

#upload_image_label{
  width: 150px;
  height: 40px;
  text-align: center;
}

// Rotate handlers
.ui-rotatable-handle {
  background: url("https://cdn3.iconfinder.com/data/icons/metro-design/512/rotate_right-512.png") no-repeat;
  background-size: 100% 100%;
  height: 15px;
  width: 15px;
  position: absolute;
}

.ui-rotatable-handle-sw {
  bottom: -20px;
  left: -20px;
}

.ui-rotatable-handle-nw {
  top: -20px;
  left: -20px;
}

.ui-rotatable-handle-se {
  bottom: -20px;
  right: -20px;
}

.ui-rotatable-handle-ne {
  top: -20px;
  right: -20px;
}

.marker{
  width: 24px;
  height: 24px;
  position: absolute;
  left: -13px;
  top: -35px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: center;
  color: transparent;
}

.marker.black{
  background: url(markerRed.svg);
}


span {
  text-align: center;
}

.messageBubble {
  visibility: hidden;
  width: 200px;
  height: 70px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
