$small: 600px;
$medium: 1024px;
$grid-columns: 12;

$content-height: 160px;
$chat-constant-width:400px;

* {
  font-family: "Lucida Sans", sans-serif;
  font-size:12px;
  padding:1px;
  margin:1px;
}

p {
  line-height:18px;
  width: 100%;
}

// RESPONSIVE
@media (max-width: $small) {
  @for $i from 1 through 12 {
    .column-small-#{$i} {
      width: 100% / 12 * $i;
      border:1px solid #ff22cf;
    }
    .chat {
      width: 100%;
    }
  }
}
@media (min-width: $small) and (max-width: $medium) {
  @for $i from 1 through 12 {
    .column-medium-#{$i} {
      width: 100% / 12 * $i;
      border:1px solid #ff22cf;
    }
    .chat {
      width: $chat-constant-width;

    }
  }
}
@media (min-width: $medium) {
  @for $i from 1 through 12 {
    .column-big-#{$i} {
      width: 100% / 12 * $i;
      border: 1px solid #ff22cf;
    }
    .chat {
      width: $chat-constant-width;
    }
  }
}

/**
 * Chat display setting
 */

.chat {
  // border: 1px solid #ff0e10;

  #chat-window {
    background: #ddd;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 5px;
    margin-top: 10px;
    height: $content-height;

    #chat-status {
      width: 25%;
      display: block;
      float: left;
      margin-top: 15px;
    }

    #chat-input {
      border: 1px solid #ccc;
      border-radius: 2px;
      margin-top: 10px;
      padding: 5px;
      width: 65%;
    }
  }
}

img{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 500px;
  max-width: 700px;
}

#container{
  width: 700px;
  height: 500px;
  margin: 5px;
  border: 1px solid blue;
  position: relative;
}

.box {
  border: 2px solid black;
  width: 710px;
  height: 510px;
  background-color: green;
  margin: 27px;
  position: relative;
}

.ui-rotatable-handle {
  background: url("https://cdn.jsdelivr.net/jquery.ui.rotatable/1.0.1/rotate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25px;
  width: 25px;
  position: absolute;
}

.ui-rotatable-handle-sw {
  bottom: -27px;
  left: -27px;
}

.ui-rotatable-handle-nw {
  top: -27px;
  left: -27px;
}

.ui-rotatable-handle-se {
  bottom: -27px;
  right: -27px;
}

.ui-rotatable-handle-ne {
  top: -27px;
  right: -27px;
}
